@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url('/spday4k.jpg');
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent repetition of the image */
}

html.dark {
  background-image: url('/spnight4k.jpg');
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent repetition of the image */
}

.bg-light {

}

.bg-dark {

}

.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}